@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  color: $primary;
}

h3, h4, h5, h6 {
  color: $secondary
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $secondary;
    text-decoration: underline;
    transition: all 400ms;
  }
}
