@import '../styles/_common.css';

.hero {
  h1 {
    font-size: 14vw;
    padding: 2.5rem;
    border-left: 2rem solid $primary;
    line-height: 1.2em;
    border-bottom: 2rem solid $primary;
    border-bottom-right-radius: 40px;
  }
}

.block {
  background-color: $primary;
  float: left;
  width: 2rem;
  height: 4rem;
  margin: 1rem;
}

.about {
  display: grid;
  margin: 3rem 0;
}

.hero-image {
  max-height: 400px;
  overflow: hidden;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  object-position: bottom center;
}

.links {
  font-weight: bold;
  display: flex;
  a {
    flex-grow: 1;
  }
}

@media (min-width: $screen-sm-min) {
  .hero {
    h1 {
      font-size: 4rem;
    }
  }
}

@media (min-width: $screen-md-min) {
  .about {
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 2rem;
  }

  .hero {
    h1 {
      line-height: 1.5em;
    }
  }
}
